<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
      <add key="EnableSqlDependency" value="true" />
      <add key="ApplicationId" value="572352472787106" />
      <add key="ApplicationUrl" value="" />
      <add key="ApiKey" value="" />
      <add key="ApplicationSecret" value="e2882b32588888f702dc3a78efeb3ec6" />
      <add key="ExtendedPermissions" value="offline_access" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>